.tabulator {
    background-color: var(--panel-background-color);

    .tabulator-tableholder {
        background-color: var(--panel-background-color);

        .tabulator-table {
            color: var(--text-color);
            background-color: var(--panel-background-color);
        }
    }

    .tabulator-header {
        border-bottom: none;
        background-color: var(--input-background-color);

        .tabulator-col {
            background-color: var(--input-background-color);
            border-right-color: #0000;
            color: var(--text-bright-color);
            &.tabulator-sortable.tabulator-col-sorter-element:hover {
                background-color: var(--table-row-hover-background-color);
            }
        }
        .tabulator-col {
           .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
               border-left: 5px solid transparent;
               border-right: 5px solid transparent;
               border-bottom: 5px solid #444;
           }

           &.tabulator-sortable[aria-sort="none"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow {
               border-bottom: 5px solid #444;
           }

           &.tabulator-sortable[aria-sort="descending"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow,
           &.tabulator-sortable[aria-sort="ascending"] .tabulator-col-content .tabulator-col-sorter .tabulator-arrow
            {
               border-top: 6px solid #999;
           }
       }
    }

    .tabulator-row {
        border-bottom-color: #0000;

        background-color: var(--panel-background-color);

        .tabulator-cell {
            border-right-color: #0000;
        }

        &.tabulator-row-even {
            background-color: var(--table-row-alt-background-color);
        }

        &:hover,
        &.tabulator-selectable:hover {
            background-color: var(--table-row-hover-background-color);
        }

        &.selected {
            background-color: var(--table-row-selected-background-color, #0D47A166);
            color: var(--table-row-selected-color);

            &:hover {
                background-color: var(--table-row-selected-hover-background-color, #0D47A1);
            }
        }
    }
}
