:host {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.resize-observer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid {
    .row {
        flex: 1;
        // transition: background-color 200ms ease;
        display: grid;
        grid-template-columns: repeat(auto-fill, 80px);
        justify-content: space-between;
        grid-gap: 20px;
        grid-auto-rows: min-content;
        padding: 10px;
        margin-right: 10px;
    }

    .file {
        width: 80px;
        z-index: 1;
        position: relative;
        transition: opacity 50ms ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        // -webkit-user-drag: element;

        &.selected {
            p {
                background-color: #8ad9d9;
                color: black;
            }
        }

        &.generic {
            &::before {
                content: " ";
                position: absolute;
                background: var(--filemanager-fileicon-backdrop);
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                z-index: -1;
                left: 0;
            }
            img {
                height: 44px;
                width: 44px;
                margin-top: 28px;
                margin-bottom: 8px;
            }
        }

        img {
            user-select: none;
        }
        p {
            height: 50px;
            width: 100%;
            margin: 0;
            padding: 2px;
            font-size: 14px;
            line-height: 16px;
            border-radius: 4px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow-wrap: break-word;
            transition: background-color 50ms ease-in-out, color 50ms ease-in-out;
        }
        mat-checkbox {
            position: absolute;
            left: -32px;
            top: -16px;
        }
    }
}

:host ::ng-deep  {

    .small .file {
        width: 46px;
    }
    .grid.selectionMode {
        .row {
            padding-left: 30px;
        }
        .cdk-virtual-scroll-content-wrapper {
            padding-top: 10px;
        }
    }

    .tabulator .tabulator-row .tabulator-cell:not(:first-of-type) {
        padding-top: 9px;
    }
}

.list {
    .row {
        flex: 1;
        // transition: background-color 200ms ease;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        height: 42px;

        p {
            margin: 0;
        }

        &:hover {
            background-color: var(--filemanager-row-hover-background-color, #343434);
        }

        &.selected p {
            background-color: #8ad9d9;
            color: black;
            border-radius: 5px;
            padding: 0 4px;
        }
        &.odd {
            background-color: var(--filemanager-row-alt-background-color, #323232);
        }
    }
}

.controls {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    gap: 12px;
}

.select-hint {
    position: absolute;
    font-size: 14px;
    bottom: 0;
    right: 0;
    background-color: #000000aa;
    padding: 2px 10px;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom: none;
    border-right: none;
    z-index: 9999;

    &:hover {
        display: none;
    }
}

.content-area {
    border: 4px dashed #0000;
}

.showDropArea {
    border: 4px dashed var(--theme-primary, #808080cc);
    transition: border-color 250ms ease;
}

// This overrides a broken box-sizing rule
:host ::ng-deep ng-scrollbar.ng-scrollbar {
    box-sizing: border-box !important;
    --scrollbar-thumb-color: #666;

    min-height: 200px;
    min-width: 200px;
}


mat-progress-bar {
    --mdc-linear-progress-track-height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    animation: dropIn 200ms ease;
    transition: position 200ms ease;
    z-index: 100;

    &.hide {
        top: -2px;
    }
}

@keyframes dropIn {
  from { top: -2px;}
  to { top: 0;}
}
