.key {
    background: #444;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: 'Fira Mono', 'Courier New', Courier, monospace;
    text-transform: capitalize;
}

.plus {
    margin: 0 4px;
}
